<style>
table {
    border: 0px;
    font-weight: normal;
    border-collapse: collapse;
    width: 98%;
    margin-top: 2em;
}

table caption {
    text-align: center;
}

th, td {
    text-align: right;
    font-weight: normal;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 12em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
